/*SCSS Files*/
@use 'variables';
@use 'mixins';

/*Footer Styles*/
.footer{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;

    .Tux3er{
        font-family: variables.$montserrat;
        text-align: center;
    }
}

/*Responsive Mobile Footer Styles*/
@media only screen and (max-width: 480px){
    .footer{
        position: relative;
    }
}