/*SCSS File*/
@use 'variables';
@use 'main';
@use 'footer';
@use 'mixins';

/*General Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: variables.$cream;
    overflow-y: hidden;
}

br{
    display: block;
}

/*Responsive Mobile General Styles*/
@media only screen and (max-width: 480px){
    body{
        overflow-y: scroll;
    }
    br{
        display: none;
    }
}